{% extends 'layout.html' %}
{% set active_page = "about" %}
{% block content %}

<div id="fh5co-main">
    <div class="fh5co-narrow-content">
        <div class="row row-bottom-padded-md">
            <h2 class="fh5co-heading">About Me</h2>
            <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                <img class="img-responsive" src="static/images/austin_1.jpg" alt="Image not available">
            </div>
            <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                <p class="text-school-2">I am originally from Pasadena, TX and moved to Austin as a child where I lived for over 20 years. I began my college career there before transferring to UT Dallas to complete my B.S. in Biology as well as participating in the UTeach Program.</p>
                <p class="text-school-2">My passion for teaching stems from my desire to help students see science the way that I do. Teaching is something I've always been interested in and I look forward to helping my students discover the amazing world that is around them.</p>
                <p class="text-school-2">My hobbies include traveling with my wife, hanging out with our dog and cat, playing games, and reading.</p>
            </div>
        </div>
    </div>

    <div class="fh5co-narrow-content">
        <h2 class="fh5co-heading-colored-school-1 animate-box" data-animate-effect="fadeInLeft">Education</h2>
        <h3 class="text-school-3 animate-box" data-animate-effect="fadeInLeft">University of Texas at Dallas</h3>
        <p class="animate-box text-school-4" data-animate-effect="fadeInLeft">B.S. Biology - UTeach</p>
        <h3 class="text-school-3 animate-box" data-animate-effect="fadeInLeft">Academy of Healthcare Professions</h3>
        <p class="animate-box text-school-4" data-animate-effect="fadeInLeft">LMRT Certification</p>
    </div>

</div>

{% endblock content %}