{% extends 'layout.html' %}
{% set active_page = "announcements" %}
{% block content%}

<div id="fh5co-main">
    <div class="fh5co-narrow-content">
        <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Announcements</h2>
        <div class="animate-box well" data-animate-effect="fadeInLeft">
            <h4 class="btn btn-school-2">AP Environmental Science</h4>
            <blockquote>
                <p class="text-school-4"><strong>Pear Deck Codes - Chapter 14</strong>
                    </br>Period 1: voiuu
                    </br>Period 3: aarza
                    </br>Period 5: zyjhn
                    </br>Period 6: kohwg
                    </br>Period 7: hyenh
                </p>
            </blockquote>
        </div>
    </div>
</div>

{% endblock content %}