{% extends 'layout.html' %}
{% set active_page = "announcements" %}
{% block content%}

<div id="fh5co-main">
    <div class="fh5co-narrow-content">
        <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Announcements</h2>
        <div class="animate-box well" data-animate-effect="fadeInLeft">
            <h4 class="btn btn-school-1">Pre-AP Biology</h4>
            <blockquote>
                <p class="text-school-3">Reminder: Quiz on Wednesday 01/23/2019</p>
            </blockquote>
        </div>
        <div class="animate-box well" data-animate-effect="fadeInLeft">
            <h4 class="btn btn-school-2">AP Environmental Science</h4>
            <blockquote>
                <p class="text-school-4"><strong>Pear Deck Codes - Chapter 9</strong>
                    </br>Period 1: fvvwc
                    </br>Period 3: eqlam
                    </br>Period 5: fcfmv
                    </br>Period 6: xxaee
                    </br>Period 7: smfov
                </p>
            </blockquote>
        </div>
    </div>
</div>

{% endblock content %}