{% extends 'layout.html' %}
{% set active_page = "apes-ch9-p6" %}
{% block content%}

<div id="fh5co-main">
    <div class="fh5co-narrow-content">
        <h2 class="fh5co-heading animate-box">Period 6 Water Project Infographics</h2>
        <div class="col-lg-10">
            <div class="canva-embed" data-design-id="DADPclHsPbc" data-height-ratio="2.5000" style="padding:250.0000% 5px 5px 5px;background:rgba(0,0,0,0.03);border-radius:8px;"></div><script async src="https:&#x2F;&#x2F;sdk.canva.com&#x2F;v1&#x2F;embed.js"></script><a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DADPclHsPbc&#x2F;view?utm_content=DADPclHsPbc&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener"></a><a href="https:&#x2F;&#x2F;www.canva.com&#x2F;s642916?utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener"></a>
        </div>
        <div class="col-lg-10">
            <div class="canva-embed" data-design-id="DADPctPhStQ" data-height-ratio="1.2941" style="padding:129.4118% 5px 5px 5px;background:rgba(0,0,0,0.03);border-radius:8px;"></div><script async src="https:&#x2F;&#x2F;sdk.canva.com&#x2F;v1&#x2F;embed.js"></script><a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DADPctPhStQ&#x2F;view?utm_content=DADPctPhStQ&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener"></a><a href="https:&#x2F;&#x2F;www.canva.com&#x2F;sBrysonBales?utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener"></a>
        </div>
        <div class="col-lg-10">
            <div class="canva-embed" data-design-id="DADPodQuPEQ" data-height-ratio="1.2941" style="padding:129.4118% 5px 5px 5px;background:rgba(0,0,0,0.03);border-radius:8px;"></div><script async src="https:&#x2F;&#x2F;sdk.canva.com&#x2F;v1&#x2F;embed.js"></script><a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DADPodQuPEQ&#x2F;view?utm_content=DADPodQuPEQ&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener"></a><a href="https:&#x2F;&#x2F;www.canva.com&#x2F;s421763?utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener"></a>
        </div>
        <div class="col-lg-10">
            <div class="canva-embed" data-design-id="DADPoSxKitY" data-height-ratio="2.5000" style="padding:250.0000% 5px 5px 5px;background:rgba(0,0,0,0.03);border-radius:8px;"></div><script async src="https:&#x2F;&#x2F;sdk.canva.com&#x2F;v1&#x2F;embed.js"></script><a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DADPoSxKitY&#x2F;view?utm_content=DADPoSxKitY&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener"></a><a href="https:&#x2F;&#x2F;www.canva.com&#x2F;sMaceyMaxim?utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener"></a>
        </div>
        <div class="col-lg-10">
            <div class="canva-embed" data-design-id="DADPonQaNlY" data-height-ratio="1.4143" style="padding:141.4286% 5px 5px 5px;background:rgba(0,0,0,0.03);border-radius:8px;"></div><script async src="https:&#x2F;&#x2F;sdk.canva.com&#x2F;v1&#x2F;embed.js"></script><a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DADPonQaNlY&#x2F;view?utm_content=DADPonQaNlY&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener"></a><a href="https:&#x2F;&#x2F;www.canva.com&#x2F;sMilesRichardson?utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener"></a>
        </div>
    </div>
</div>

{% endblock content %}