{% extends 'layout.html' %}
{% set active_page = "apes-ch9-p1" %}
{% block content%}

<div id="fh5co-main">
    <div class="fh5co-narrow-content">
        <h2 class="fh5co-heading animate-box">Period 1 Water Project Infographics</h2>
        <div class="col-lg-12">
            <div class="canva-embed" data-design-id="DADPh0CAKrc" data-height-ratio="0.7500" style="padding:75.0000% 5px 5px 5px;background:rgba(0,0,0,0.03);border-radius:8px;"></div><script async src="https:&#x2F;&#x2F;sdk.canva.com&#x2F;v1&#x2F;embed.js"></script><a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DADPh0CAKrc&#x2F;view?utm_content=DADPh0CAKrc&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener"></a><a href="https:&#x2F;&#x2F;www.canva.com&#x2F;sJarrettFowler?utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener"></a>
        </div>
        <div class="col-lg-12">

        </div>
        <div class="col-lg-12">

        </div>
        <div class="col-lg-12">

        </div>
        <div class="col-lg-12">

        </div>
    </div>
</div>

{% endblock content %}