{% extends 'layout.html' %}
{% set active_page = "apes-ch9-p7" %}
{% block content%}

<div id="fh5co-main">
    <div class="fh5co-narrow-content">
        <h2 class="fh5co-heading animate-box">Period 7 Water Project Infographics</h2>
        <div class="col-lg-10">
            <div class="canva-embed" data-design-id="DADPo7rGoOw" data-height-ratio="0.7500" style="padding:75.0000% 5px 5px 5px;background:rgba(0,0,0,0.03);border-radius:8px;"></div><script async src="https:&#x2F;&#x2F;sdk.canva.com&#x2F;v1&#x2F;embed.js"></script><a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DADPo7rGoOw&#x2F;view?utm_content=DADPo7rGoOw&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener"></a><a href="https:&#x2F;&#x2F;www.canva.com&#x2F;sNiaSpicer?utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener"></a>
        </div>
        <div class="col-lg-10">
            <div class="canva-embed" data-design-id="DADQAprvx18" data-height-ratio="2.5000" style="padding:250.0000% 5px 5px 5px;background:rgba(0,0,0,0.03);border-radius:8px;"></div><script async src="https:&#x2F;&#x2F;sdk.canva.com&#x2F;v1&#x2F;embed.js"></script><a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DADQAprvx18&#x2F;view?utm_content=DADQAprvx18&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener"></a><a href="https:&#x2F;&#x2F;www.canva.com&#x2F;sKiaraDaenaRodriguez?utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener"></a>
        </div>
        <div class="col-lg-10">
            <div class="canva-embed" data-design-id="DADPoxTjWJM" data-height-ratio="2.5000" style="padding:250.0000% 5px 5px 5px;background:rgba(0,0,0,0.03);border-radius:8px;"></div><script async src="https:&#x2F;&#x2F;sdk.canva.com&#x2F;v1&#x2F;embed.js"></script><a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DADPoxTjWJM&#x2F;view?utm_content=DADPoxTjWJM&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener"></a><a href="https:&#x2F;&#x2F;www.canva.com&#x2F;AaronWeinbach?utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener"></a>
        </div>
        <div class="col-lg-10">
            <div class="canva-embed" data-design-id="DADQAl2g8Ec" data-height-ratio="2.5000" style="padding:250.0000% 5px 5px 5px;background:rgba(0,0,0,0.03);border-radius:8px;"></div><script async src="https:&#x2F;&#x2F;sdk.canva.com&#x2F;v1&#x2F;embed.js"></script><a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DADQAl2g8Ec&#x2F;view?utm_content=DADQAl2g8Ec&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener"></a><a href="https:&#x2F;&#x2F;www.canva.com&#x2F;sNicholasRushing?utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener"></a>
        </div>
        <div class="col-lg-10">
        </div>
    </div>
</div>

{% endblock content %}