{% extends 'layout.html' %}
{% set active_page = "apes-ch9-p3" %}
{% block content%}

<div id="fh5co-main">
    <div class="fh5co-narrow-content">
        <h2 class="fh5co-heading animate-box">Period 3 Water Project Infographics</h2>
        <div class="col-lg-10">
            <div class="canva-embed" data-design-id="DADPFDwPawY" data-height-ratio="2.5000" style="padding:250.0000% 5px 5px 5px;background:rgba(0,0,0,0.03);border-radius:8px;"></div><script async src="https:&#x2F;&#x2F;sdk.canva.com&#x2F;v1&#x2F;embed.js"></script><a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DADPFDwPawY&#x2F;view?utm_content=DADPFDwPawY&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener"></a><a href="https:&#x2F;&#x2F;www.canva.com&#x2F;sTarynMitteness?utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener"></a>
        </div>
        <div class="col-lg-10">
            <div class="canva-embed" data-design-id="DADPjEZoAeQ" data-height-ratio="2.5000" style="padding:250.0000% 5px 5px 5px;background:rgba(0,0,0,0.03);border-radius:8px;"></div><script async src="https:&#x2F;&#x2F;sdk.canva.com&#x2F;v1&#x2F;embed.js"></script><a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DADPjEZoAeQ&#x2F;view?utm_content=DADPjEZoAeQ&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener">Aqueducts</a><a href="https:&#x2F;&#x2F;www.canva.com&#x2F;sShyannHailey?utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener"></a>
        </div>
        <div class="col-lg-10">
            <script src="https://infograph.venngage.com/js/embed/v1/embed.js" data-vg-id="Y4RqDJRMCc" data-title="Droughts " data-w="816" data-h="2150" data-multipage="true"></script>
        </div>
        <div class="col-lg-10">
            <div class="canva-embed" data-design-id="DADPiiEX2Y8" data-height-ratio="2.5000" style="padding:250.0000% 5px 5px 5px;background:rgba(0,0,0,0.03);border-radius:8px;"></div><script async src="https:&#x2F;&#x2F;sdk.canva.com&#x2F;v1&#x2F;embed.js"></script><a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DADPiiEX2Y8&#x2F;view?utm_content=DADPiiEX2Y8&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener"></a><a href="https:&#x2F;&#x2F;www.canva.com&#x2F;s612285?utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener"></a>
        </div>
        <div class="col-lg-10">
            <div class="canva-embed" data-design-id="DADPistSK7g" data-height-ratio="2.5000" style="padding:250.0000% 5px 5px 5px;background:rgba(0,0,0,0.03);border-radius:8px;"></div><script async src="https:&#x2F;&#x2F;sdk.canva.com&#x2F;v1&#x2F;embed.js"></script><a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DADPistSK7g&#x2F;view?utm_content=DADPistSK7g&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener"></a><a href="https:&#x2F;&#x2F;www.canva.com&#x2F;s582441?utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener"></a>
        </div>
    </div>
</div>

{% endblock content %}