{% extends 'layout.html' %}
{% set active_page = "apes-ch9-p5" %}
{% block content%}

<div id="fh5co-main">
    <div class="fh5co-narrow-content">
        <h2 class="fh5co-heading animate-box">Period 5 Water Project Infographics</h2>
        <div class="col-lg-10">
            <div class="canva-embed" data-design-id="DADPn6WbL2k" data-height-ratio="2.5000" style="padding:250.0000% 5px 5px 5px;background:rgba(0,0,0,0.03);border-radius:8px;"></div><script async src="https:&#x2F;&#x2F;sdk.canva.com&#x2F;v1&#x2F;embed.js"></script><a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DADPn6WbL2k&#x2F;view?utm_content=DADPn6WbL2k&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener"></a><a href="https:&#x2F;&#x2F;www.canva.com&#x2F;s641800?utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener"></a>
        </div>
        <div class="col-lg-10">
            <div class="canva-embed" data-design-id="DADPnx_1F5I" data-height-ratio="2.5000" style="padding:250.0000% 5px 5px 5px;background:rgba(0,0,0,0.03);border-radius:8px;"></div><script async src="https:&#x2F;&#x2F;sdk.canva.com&#x2F;v1&#x2F;embed.js"></script><a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DADPnx_1F5I&#x2F;view?utm_content=DADPnx_1F5I&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener"></a><a href="https:&#x2F;&#x2F;www.canva.com&#x2F;martin.ethan08?utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener"></a>
        </div>
        <div class="col-lg-10">
            <div class="canva-embed" data-design-id="DADPnwMcCUQ" data-height-ratio="2.5000" style="padding:250.0000% 5px 5px 5px;background:rgba(0,0,0,0.03);border-radius:8px;"></div><script async src="https:&#x2F;&#x2F;sdk.canva.com&#x2F;v1&#x2F;embed.js"></script><a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DADPnwMcCUQ&#x2F;view?utm_content=DADPnwMcCUQ&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener"></a><a href="https:&#x2F;&#x2F;www.canva.com&#x2F;sDivyaSreedharane?utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener"></a>
        </div>
        <div class="col-lg-10">
            <div class="canva-embed" data-design-id="DADQI4VkMao" data-height-ratio="1.4143" style="padding:141.4286% 5px 5px 5px;background:rgba(0,0,0,0.03);border-radius:8px;"></div><script async src="https:&#x2F;&#x2F;sdk.canva.com&#x2F;v1&#x2F;embed.js"></script><a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DADQI4VkMao&#x2F;view?utm_content=DADQI4VkMao&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener"></a><a href="https:&#x2F;&#x2F;www.canva.com&#x2F;s612075?utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener"></a>
        </div>
        <div class="col-lg-10">
        </div>
    </div>
</div>

{% endblock content %}