{% extends 'course-layout-apes.html' %}
{% set active_apes = "course-topics-apes" %}

{% block contentapes %}
    <div class="text-school-4 animate-box" data-animate-effect="fadeInLeft">
        <h1 class="fh5co-heading-colored-school-1">Course Topics</h1>
        <ol type="I">
            <li>Earth Systems and Resources (10%-15%)</li>
            <ol type="A">
                <li>Earth Science Concepts (Geologic time scale; plate tectonics, earthquakes, volcanism; seasons; solar intensity and latitude)</li>
                <li>The Atmosphere (Composition; structure; weather and climate; atmospheric circulation and the Coriolis effect; atmosphere-ocean interactions; ENSO)</li>
                <li>Global Water Resources and Use (Freshwater/saltwater; ocean circulation; agricultural, industrial, and domestic use; surface and groundwater issues; global problems; conservation)</li>
                <li>Soil and Soil Dynamics (Rock cycle; formation; composition; physical and chemical properties; main soil types; erosion and other soil problems; soil conservation)</li>
            </ol>
            <li>The Living World (10%-15%)</li>
            <ol type="A">
                <li>Ecosystem Structure (Biological populations and communities; ecological niches; interactions among species; keystone species; species diversity and edge effects; major terrestrial and aquatic biomes)</li>
                <li>Energy Flow (Photosynthesis and cellular respiration; food webs and trophic levels; ecological pyramids)</li>
                <li>Ecosystem Diversity (Biodiversity; natural selection; evolution; ecosystem services)</li>
                <li>Natural Ecosystem Change (Climate shifts; species movement; ecological succession)</li>
                <li>Natural Biogeochemical Cycles (Carbon, nitrogen, phosphorus, sulfur, water, conservation of matter)</li>
            </ol>
            <li>Population (10%-15%)</li>
            <ol type="A">
                <li>Population Biology Concepts (Population ecology; carrying capacity; reproductive strategies; survivorship)</li>
                <li>Human Population</li>
            </ol>
            <li>Land and Water Use (10%-15%)</li>
            <ol type="A">
                <li>Agriculture</li>
                <li>Forestry (Tree plantations; old growth forests; forest fires; forest management; national forests)</li>
                <li>Rangelands(Overgrazing; deforestation; desertification; rangeland management; federal rangelands)</li>
                <li>Other Land Use</li>
                <li>Mining (Mineral formation; extraction; global reserves; relevant laws and treaties)</li>
                <li>Fishing (Fishing techniques; overfishing; aquaculture; relevant laws and treaties)</li>
                <li>Global Economics (Globalization; World Bank; Tragedy of the Commons; relevant laws and treaties)</li>
            </ol>
            <li>Energy Resources and Consumption (10%-15%)</li>
            <ol type="A">
                <li>Energy Concepts (Energy forms; power; units; conversions; Laws of Thermodynamics)</li>
                <li>Energy Consumption</li>
                <li>Fossil Fuel Resources and Use (Formation of coal, oil, and natural gas; extraction/purification methods; world reserves and global demand; synfuels; environmental advantages/disadvantages of sources)</li>
                <li>Nuclear Energy (Nuclear fission process; nuclear fuel; electricity production; nuclear reactor types; environmental advantages/disadvantages; safety issues; radiation and human health; radioactive wastes; nuclear fusion)</li>
                <li>Hydroelectric Power (Dams; flood control; salmon; silting; other impacts)</li>
                <li>Energy Conservation (Energy efficiency; CAFE standards; hybrid electric vehicles; mass transit)</li>
                <li>Renewable Energy (Solar energy; solar electricity; hydrogen fuel cells; biomass; wind energy; small-scale hydroelectric; ocean waves and tidal energy; geothermal; environmental advantages/disadvantages)</li>
            </ol>
            <li>Pollution (25%-30%)</li>
            <ol type="A">
                <li>Pollution Types</li>
                <li>Impacts on the Environment and Human Health</li>
                <li>Economic Impacts (Cost-benefit analysis; externalities; marginal costs; sustainability)</li>
            </ol>
            <li>Global Change (10%-15%)</li>
            <ol type="A">
                <li>Stratospheric Ozone (Formation of stratospheric ozone; ultraviolet radiation; causes of ozone depletion; effects of ozone depletion; strategies for reducing ozone depletion; relevant laws and treaties)</li>
                <li>Global Warming (Greenhouse gases and the greenhouse effect; impacts and consequences of global warming; reducing climate change; relevant laws and treaties)</li>
                <li>Loss of Biodiversity</li>
            </ol>
        </ol>
    </div>
{% endblock contentapes %}
