{% extends 'course-layout-apes.html' %}
{% set active_apes = "course-details-apes" %}

{% block contentapes %}
    <div class="text-school-4 animate-box" data-animate-effect="fadeInLeft">
        <h1 class="fh5co-heading-colored-school-1">Course details</h1>
        <ol>
            <li>Science is a process</li>
            <ul>
                <li>Science is a method of learning more about the world</li>
                <li>Science constantly changes the way we understand the world</li>
            </ul>
            <li>Energy conversions underlie all ecological processes</li>
            <ul>
                <li>Energy cannot be created; it must come from somewhere</li>
                <li>As energy flows through systems, at each step it becomes more unusable</li>
            </ul>
            <li>The Earth itself is one interconnected system</li>
            <ul>
                <li>Natural systems change ov er time and space</li>
                <li>Biogeochemical systems vary in ability to recover from disturbances</li>
            </ul>
            <li>Humans alter natural systems</li>
            <ul>
                <li>Humans have had an impact on the environment for millions of years</li>
                <li>Technology and population growth have enabled humans to increase both the rate and
                    scale of their impact on the environment
                </li>
            </ul>
            <li>Environmental problems have a cultural and social context</li>
            <ul>
                <li>Understanding the role of cultural, social and economic factors is vital to the development of solutions</li>
            </ul>
            <li>Human survival depends on developing practices that will achieve sustainable systems</li>
            <ul>
                <li>A suitable combination of conservation and development is required</li>
                <li>Management of common resources is essential</li>
            </ul>
        </ol>
    </div>
{% endblock contentapes %}
