{% extends 'course-layout-bio.html' %}
{% set active_apes = "course-staar-bio" %}

{% block contentapes %}
    <div class="text-school-4 animate-box" data-animate-effect="fadeInLeft">
        <h1 class="fh5co-heading-colored-school-1">STAAR Testing Information</h1>
        <p class="text-school-4">All public schools in Texas require students from grades 3 -12 to take STAAR tests.
        The STAAR tests are the state's testing based on state curriculum standards in core subjects including
        reading, writing, mathematics, science, and social studies.
        </p>
        <p>The tests are given in the spring as the school year concludes at the school the student attends in a regular
            classroom. If the student requires special accommodations they may be moved to a different area.
        </p>
        <p>The STAAR test is designed to measure what the students are learning in each grade and whether or not they are
            ready for the next grade. If you do not pass the STAAR test then you cannot graduate high school.
            This class is focused on preparing you pass the Biology STAAR exam as well as preparing you for AP Biology.
        </p>
        <p><strong>Texas Essential Knowledge and Skills</strong>, or TEKS, are the state standards in which you are
            required to know in order to successfully pass your STAAR exam. A quick reference guide can be found <span>
                <a href="https://www.esc20.net/upload/page/0479/docs/BiologyEOC.pdf" target="_blank">here</a>
            </span>
        </p>
    </div>
{% endblock contentapes %}