{% extends 'layout.html' %}
{% set active_page = "environmental-science-notes" %}
{% block content%}

<div id="fh5co-main">
    <div class="fh5co-narrow-content">
        <h2 class="fh5co-heading">AP Environmental Science Notes</h2>
        <div class="animate-box" data-animate-effect="fadeInLeft">
            <btn class="btn btn-block btn-school-2" data-toggle="collapse" href="#unit1-collapse" aria-expanded="True" aria-controls="unit1-collapse">
                Unit 2 - The Living World<span class="icon-arrow-down-thick"></span>
            </btn>
            <div class="row row-bottom-padded-md collapse" id="unit1-collapse">
                <div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
                    <div class="blog-entry">
                        <a class="blog-img"><img src="static/images/Biodiversity_Hotspots.svg" class="img-responsive img-notes" alt="Biodiversity Hotspots Img"></a>
                        <div class="desc">
                            <h3><a>Chapter 5 - Evolution of Biodiversity</a></h3>
                            <ul class="list-unstyled">
                                <li><a class="list-group-item list-group-item-school-1" href="static/files/Chapter 5 - Evolution of Biodiversity.pdf" target="_blank">Chapter 5 Notes</a></li>
                                <li><a class="list-group-item list-group-item-school-1" href="static/files/How Should We Prioritize the Protection of Species Diversity.pdf" target="_blank">Biodiversity Article</a></li>
                                <li><a class="list-group-item list-group-item-school-1" href="static/images/Hotspot Example.jpg" target="_blank">Hotspot Example</a></li>
                                <li><a class="list-group-item list-group-item-school-1" href="/biodiversity-quizlet" target="_blank">Flashcards</a></li>
                                <li><a class="list-group-item list-group-item-school-1" href="/static/files/APES_2e_TRM_CH_05_Lab_5.1.pdf" target="_blank">Trail Mix Lab</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="animate-box" data-animate-effect="fadeInLeft">
            <btn class="btn btn-block btn-school-2" data-toggle="collapse" href="#unit2-collapse" aria-expanded="True" aria-controls="unit1-collapse">
                Unit 4 - Earth Systems and Resources<span class="icon-arrow-down-thick"></span>
            </btn>
            <div class="row row-bottom-padded-md collapse" id="unit2-collapse">
                <div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
                    <div class="blog-entry">
                        <a class="blog-img"><img src="static/images/hd-wallpaper-macro-splash-67843.jpg" class="img-responsive img-notes" alt="Water Img"></a>
                        <div class="desc">
                            <h3><a>Chapter 9 - Water Resources</a></h3>
                            <ul class="list-unstyled">
                                <li><a class="list-group-item list-group-item-school-1" href="static/files/Chapter 9 - Water Resources.pdf" target="_blank">Chapter 9 Notes</a></li>
                                <li><a class="list-group-item list-group-item-school-1" href="/water-resources-quizlet" target="_blank">Flashcards</a></li>
                                <li><a class="list-group-item list-group-item-school-1" href="static/files/Chapter 9 - Entry Document.pdf" target="_blank">Entry Document - Water Project</a></li>
                                <li><a class="list-group-item list-group-item-school-1" href="static/files/Chatper 9 - Directions - Project.pdf" target="_blank">Directions - Water Project</a></li>
                                <li><a class="list-group-item list-group-item-school-1" href="static/files/Chapter 9 - Rubric - Project.pdf" target="_blank">Rubric - Water Project</a></li>
                                <li><a class="list-group-item list-group-item-school-1" href="/static/files/Chapter 9 - Study Guide.pdf" target="_blank">Study Guide</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
                    <div class="blog-entry">
                        <a class="blog-img"><img src="static/images/detroit_lake.jpg" class="img-responsive img-notes" alt="Water Img"></a>
                        <div class="desc">
                            <h3><a>Water Project Infographics</a></h3>
                            <ul class="list-unstyled">
                                <li><a class="list-group-item list-group-item-school-1" href="/apes-ch9-p1" target="_blank">Period 1</a></li>
                                <li><a class="list-group-item list-group-item-school-1" href="/apes-ch9-p3" target="_blank">Period 3</a></li>
                                <li><a class="list-group-item list-group-item-school-1" href="/apes-ch9-p5" target="_blank">Period 5</a></li>
                                <li><a class="list-group-item list-group-item-school-1" href="/apes-ch9-p6" target="_blank">Period 6</a></li>
                                <li><a class="list-group-item list-group-item-school-1" href="/apes-ch9-p7" target="_blank">Period 7</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}