{% extends 'layout.html' %}
{% set active_page = "environmental-science-videos" %}
{% block content %}

<div id="fh5co-main">
    <div class="fh5co-narrow-content">
        <h2 class="fh5co-heading">Environmental Science Videos</h2>
        <div class="flex-container animate-box" data-animate-effect="fadeInLeft">
            <div class="flex-active fh5co-flex-wrap">
                <btn class="btn btn-block btn-school-2" data-toggle="collapse" href="#unit2-collapse" role="button" aria-expanded="False" aria-controls="unit1-collapse">
                    Unit 2 - The Living World<span class="icon-arrow-down-thick"></span>
                </btn>
                <div class="collapse text-center" id="unit2-collapse">
                    <iframe src="https://www.youtube.com/embed/QKIMS0hVJdc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <iframe src="https://www.youtube.com/embed/7VM9YxmULuo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <iframe src="https://www.youtube.com/embed/W0TM4LQmoZY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <iframe src="https://www.youtube.com/embed/udZUaNKXbJA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="flex-active fh5co-flex-wrap">
                <btn class="btn btn-block btn-school-2" data-toggle="collapse" href="#unit4-collapse" role="button" aria-expanded="False" aria-controls="unit1-collapse">
                    Unit 4 - Earth Systems and Resources<span class="icon-arrow-down-thick"></span>
                </btn>
                <div class="collapse text-center" id="unit4-collapse">
                    <iframe src="https://www.youtube.com/embed/OGf04jPEaT0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <iframe src="https://www.youtube.com/embed/jfgE-LAJ8fA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <iframe src="https://www.youtube.com/embed/mg7XSjcnZQM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <iframe src="https://www.youtube.com/embed/IDAj5T1ST7o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="flex-active fh5co-flex-wrap">
                <btn class="btn btn-block btn-school-2" data-toggle="collapse" href="#unit7-collapse" role="button" aria-expanded="False" aria-controls="unit1-collapse">
                    Unit 7 - Pollution<span class="icon-arrow-down-thick"></span>
                </btn>
                <div class="collapse text-center" id="unit7-collapse">
                    <iframe src="https://www.youtube.com/embed/_dTtvtlct9k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <iframe src="https://www.youtube.com/embed/GNGKsubYJ9U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <iframe src="https://www.youtube.com/embed/tl-68EVZX_k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <iframe src="https://www.youtube.com/embed/VcDjyxanOyk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}