{% extends 'layout.html' %}
{% set active_page = "evolution-storyboardthat" %}
{% block content%}

<div id="fh5co-main">
    <div class="fh5co-narrow-content">
        <h1 class="fh5co-heading-colored">Evolution Storyboards</h1>
            <img src="static/images/high-res-image-highres.png" class="img-responsive img-notes" alt="Evolotion-Storyboard">
            <img src="static/images/selective-breeding-of-the-rat-terrier-highres.png" class="img-responsive img-notes" alt="Evolotion-Storyboard">
            <img src="static/images/project-highres.png" class="img-responsive img-notes" alt="Evolotion-Storyboard">
            <!--<img src="static/images/polio-antivax-darwinism-highres.png" class="img-responsive img-notes" alt="Evolotion-Storyboard">-->
            <img src="static/images/adaptations-highres (2).png" class="img-responsive img-notes" alt="Evolotion-Storyboard">
            <img src="static/images/homo-vs-ana-highres.png" class="img-responsive img-notes" alt="Evolotion-Storyboard">
            <img src="static/images/unknown-story-highres.png" class="img-responsive img-notes" alt="Evolotion-Storyboard">
            <img src="static/images/vestigial-structures---kam-and-raneem-highres (1).png" class="img-responsive img-notes" alt="Evolotion-Storyboard">
            <img src="static/images/h-vs-a-highres.png" class="img-responsive img-notes" alt="Evolotion-Storyboard">
            <img src="static/images/jilians-project-highres.png" class="img-responsive img-notes" alt="Evolotion-Storyboard">
            <img src="static/images/adaptation-highres.png" class="img-responsive img-notes" alt="Evolotion-Storyboard">
    </div>
</div>

{% endblock content %}