{% extends 'course-layout-bio.html' %}
{% set active_apes = "our-class-bio" %}

{% block contentapes %}
    <div class="text-school-4 animate-box" data-animate-effect="fadeInLeft">
        <h1 class="fh5co-heading-colored-school-1">My grading</h1>
        <ul style="list-style-type: square">
            <li>MAJOR GRADES: 50% (retake for 70)</li>
            <li>MINOR GRADES: 40% (retake for 70)</li>
            <li>DAILY GRADES: 10% (no retakes, but may be exempt with valid and signed excuse)</li>
        </ul>
        <h1 class="fh5co-heading-colored-school-1">Textbook</h1>
            <p>TBA</p>
            <p>My syllabus can be found <span><a href="static/files/Pre-AP Bio Survival Guide 2017-2018.pdf" target="_blank">here</a></span></p>
    </div>
{% endblock contentapes %}
