{% extends 'layout.html' %}
{% set active_page = "quizlet-human-health" %}
{% block content%}

<div id="fh5co-main">
    <div class="fh5co-narrow-content">
        <h1 class="fh5co-heading-colored">Human Health & Environmental Risk Flash Cards</h1>
        <div class="embed-responsive embed-responsive-16by9 animate-box" data-animate-effect="fadeInLeft">
            <iframe src="https://quizlet.com/386753648/match/embed?i=1q8ktu&x=1jj1" height="500" width="100%" style="border:0"></iframe>
        </div>
    </div>
</div>

{% endblock content %}