{% extends 'layout.html' %}
{% set active_page = "biodiversity-quizlet" %}
{% block content%}

<div id="fh5co-main">
    <div class="fh5co-narrow-content">
        <h1 class="fh5co-heading-colored">Evolution of Biodiversity Flash Cards</h1>
        <div class="embed-responsive embed-responsive-16by9 animate-box" data-animate-effect="fadeInLeft">
            <iframe src="https://quizlet.com/202196075/flashcards/embed" height="500" width="100%" style="border:0"></iframe>
        </div>
    </div>
</div>

{% endblock content %}