{% extends 'layout.html' %}
{% set active_page = "student-survey" %}
{% block content%}

<div id="fh5co-main">
    <div class="fh5co-narrow-content">
        <h2 class="fh5co-heading">Student Survey</h2>
        <div class="embed-responsive embed-responsive-16by9 animate-box" data-animate-effect="fadeInLeft">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScELhZicZR_UDXIqadq6LAoln42TjCtUxtenXor7ulfR-k1NQ/viewform?embedded=true" width="640" height="1440" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
        </div>
    </div>
</div>

{% endblock content %}